body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}


.sidebar {
    width: 220px;
    background-color: #1f1f1f;
    color: #fff;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ddd;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #333;
    padding-left: 25px;
    color: #fff;
}


.content {
    margin-top: 220px;
    padding: 20px;
}

.container {
    max-width: 500px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.btn-voltar {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-voltar:hover {
    background-color: #555;
}


form label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

form button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #1f1f1f;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #333;
}

.info {
    position: fixed;  
    bottom: 30px;     
    right: 20px;      
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}
