body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #1f1f1f;
    color: #fff;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ddd;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #333;
    padding-left: 25px;
    color: #fff;
}


.content {
    margin-left: 220px;
    padding: 20px;
}

.info {
    position: fixed;  
    bottom: 30px;     
    right: 20px;      
    padding: 35px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    width: 65%;

}
